.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px auto;
    width: 90%;
    justify-content: space-between;
}