.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px auto;
    justify-content: space-between;
    font-size: 25px;
}

button{
    width:  200px;
    font-size: 25px;
}

.question-text{
    color: #fff;
}