.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 700px;
    width: 900px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 30px 0 #080708;
    
}

.greetings h1{
    color: #fff;
    text-shadow: 0px 0px 20px #fff;
}
.greetings h3{
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 20px #fff;
}
.greetings span{
    color: #e15f41;
    text-shadow: 0px 0px 20px #e15f41;
}

.registrationForm{
    text-align: center;
    align-items: center;    
}


button{
    width:100%;
    height: 50px;
    border-radius:6px;
    color: #ffffff86;
    text-align: center;
    
    transition: all .4s ease;
    background:#171a2d69;
    border:1px solid #2f2f64;
    font-family: 'Courier New', Courier, monospace;
    font-size:16px;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    font-weight: 600;
    margin-top: 20px;
    &.active{
        background:#171a2d;
        box-shadow: 6px 6px 9px 5px #171a2d;
        &:hover{
            background-color: #383895;
            color:white;
            border:1px solid #4d4db9;
            box-shadow:0 0 8px 0 #3e3e97;
            cursor: pointer;
        }
    }
    &:hover{
        color:white;
        border:1px solid #4d4db9;
        box-shadow:0 0 8px 0 #3e3e97;
        
    }
    
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
