.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.greetings h1{
    color: #fff;
}
.greetings h3{
    color: #fff;
    text-align: center;
}
.greetings span{
    color: #e15f41;
}

.registrationForm{
    text-align: center;
    align-items: center;
    
}


button{
    width:  150px;
    margin-top: 20px;
    height: 50px;
    border-radius: 20px;
    border-style: none;
    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}