<!-- <div class="gameover-modal">
    <div class="gameover">
        <div class="wrapper">
            <h2 (click)="closePopup.emit()" style="margin-top: 20px;">სამწუხაროდ თქვენ დამარცხდით</h2>
            <h4 style="margin-top: 20px;">თქვენი გარანტირებული თანხა შეადგენს {{score}} ლარს</h4>
            <a class="gameoverbuttton" href="/">თავიდან დაწყება</a>
        </div>
    </div>
    <div class="gameover-overlay"></div>
</div> -->

<div class="gameover">
    <div class="gameover__modal">
        <div class="gameover__header">
           {{title}}
        </div>
        <div class="gameover__content">
           {{description}}
        </div>
        <div class="gameover__action">
            <a class="gameover__button"  (click)="handleClick($event)">{{buttonText}}</a>
        </div>
    </div>
    <div class="gameover__overlay"></div>
</div>

<!-- <span [ngClass]="{'active': score > 0}" class="gameover__bold">{{score}}</span>   -->