
<div class="gameover">
    <div class="gameover__modal">
        <div class="gameover__header">
            <mat-icon class="gameover__close" (click)="closeModal($event)" fontIcon="close">X</mat-icon>
        </div>
        <div class="gameover__content">
            <div class="gameover__answers" *ngFor="let answer of question; let i = index">
                 <div class="gameover__wrapper"><p>{{answer}}</p><p>{{otherPercentages[i]}}%</p></div>   <mat-progress-bar  mode="determinate" [value]="otherPercentages[i]" [color]="'accent'"></mat-progress-bar> 
            </div>
        </div>
    </div>
    <div class="gameover__overlay"></div>
</div>
